:root {
  --mainOrange: #000080;
  --darkOrange: #030c7e;
  --mainWhite: #fafafa;
  --mainDark: #0a0908;
  --mainGrey: #b1b1b1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
html,
body,
main {
  /* font-family: "Hind Madurai", sans-serif !important; */
  height: 100%;
  width: 100%;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
  scroll-behavior: smooth;
}
.pTop {
  padding-top: 4.125rem;
}

btn:hover {
  outline: none !important;
}

.text-orange {
  color: var(--mainOrange);
}

.text-grey {
  color: var(--mainGrey);
}

.btn-orange,
.badge-orange {
  background-color: var(--mainOrange) !important;
  color: var(--mainWhite) !important;
}

.btn-orange:hover,
.badge-orange:hover {
  background-color: var(--darkOrange) !important;
}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainOrange);
}

.juzhong {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.highlight:hover {
  border: 2px solid #55fffe;
  /* transform: translate(1px, 1px); */
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  border-color: transparent;
  box-shadow: none;
}

button:focus,
button:active:focus,
button.active:focus,
button.focus,
button:active.focus,
buttonactive.focus {
  outline: none !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
