:root {
  --mainOrange: #f0523c;
  --darkOrange: #ed3218;
  --mainWhite: #fafafa;
  --mainDark: #0a0908;
}
*{
  margin: 0;
  padding: 0;
}
html,body,main {
  /* font-family: "Hind Madurai", sans-serif !important; */
  height: 100%;
  width: 100%;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
  scroll-behavior:smooth;
}

.text-orange {
  color: var(--mainOrange);
}
.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainOrange);
}
.btn-primary,
.btn-outline-primary:hover,
.badge-primary {
  color: #fff;
  background-color: var(--mainOrange);
  border-color: var(--mainOrange);
}
.btn-primary:hover {
  background-color: var(--darkOrange);
  border-color: var(--darkOrange);
}
.btn-outline-primary {
  color: var(--mainOrange);
  border-color: var(--mainOrange);
}


.juzhong {
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: center;
}


/* responsive */

@media (max-width: 768px) { 

  .container {
      padding: 0 8%;
  }

}